[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	cloner = clone --recurse-submodules
[user]
	email = {{ .email | quote }}
	name = Rene Brglez
